/* Main class name was 'sections-wrapper' which is used in multiple files 'caseAudio, caseVideo, caseHybrid, caseImage' */
.audio-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* Main class name was 'survey-box-video-left' which is used in the files 'caseAudio, caseVideo' */
.audio-survey-box-left {
  width: 900px;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  margin: 1em;
  outline: solid var(--primary-color) 5px;
  border-radius: 0.2em;
  box-shadow: 0px 0px 10px grey;
}

/* Main class name was 'background-text-content' and it should be a generic class which is used throughout the application */
.audio-background-content-alignment {
  text-align: justify;
}

/* Main class name was 'survey-box-video-right', used files 'caseAudio, caseVideo' */
.audio-survey-box-right {
  width: 430px;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  margin: 1em;
  outline: solid var(--primary-color) 5px;
  border-radius: 0.2em;
  box-shadow: 0px 0px 10px grey;
}

/* Main class name was 'scaled-image-fit-height' used in multiple files 'caseAudio, caseVideo, caseHybrid, caseImage' */
.audio-scaled-image-fit-height {
  width: auto;
  height: 100%;
}

/* Main class name was 'generic-image-section' used in multiple files 'caseAudio, caseVideo, caseHybrid, caseImage' */
.audio-generic-image-section {
  display: flex;
  justify-content: center;
  height: 50%;
}

/* Main class name was 'video-text-rank-section' used in several files 'caseAudio, caseVideo' */
.audio-text-rank-section {
  height: 100%;
  width: 12em;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Main class name was 'ranking-wrapper' used in several files 'caseAudio, caseVideo, caseAudioColumnRight, caseVideoColumnRight, caseHybridColumnRight, caseImageColumnRight' */
.audio-ranking-wrapper {
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.audio-generic-section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}
.generic-audio-section-button {
  margin-top: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
